### Descriptive Statistics

In [2]:
import numpy as np
import pandas as pd

In [4]:
data = [ [1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3] ]
i = ['a', 'b', 'c', 'd']
c = ['one', 'two']
df = pd.DataFrame(data, i, c) # index i columns c
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [11]:
df.mean()
df.std()
df.sum()
df.sum(axis=1) # work across the rows
df.std(axis=1)

a         NaN
b    8.202439
c         NaN
d    1.449569
dtype: float64

In [19]:
# we can choose to ignore NaN values
df.sum()
df.sum(skipna=False)

one   NaN
two   NaN
dtype: float64

#### Using Bins

In [20]:
array1 = [0, 1, 6, 1, 4, 1, 2, 2, 2 ,2 , 7,12] 
np.bincount(array1)

array([1, 3, 4, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1], dtype=int64)